.modalVideo{
    height: 50vh;
    width: 100%;
    /* object-fit: fill; */
    border-radius: 12px;

}


.video-background{
    background: transparent;
    border: none;
}
.modalVideo-close-button{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    margin-right: 90px;
}
.skip-video{
    text-decoration: none;
    border-radius: 8px;
    color: #fcfcfc;
    background-color: #d11a2a;
    border: none;
    padding: 5px 10px;
   
}