.welcome-images-style{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.welcome-heading{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 30px 20px;
    
}
.welcome-container{
    padding: 30px 200px;
}
.welcome-background-color{
    background-color: #e4e6eb ;
}
.welcome-images-inner{
    display: flex;
    justify-content: center;
    border-radius: 20px;
}