


  
  .modal-padding{
    padding: 50px 46px;
  }
 .modal-content{
  border-radius: 12px;

 }
 .modal-size{
  /* max-width: 70% ; */

 }
.login-image-style{
  background-image: url("../Assests/LoginForm.jpeg");
background-size: 50%;
background-repeat: no-repeat;
border-bottom-left-radius:12px;
border-top-left-radius: 12px;
}
  .btn-style{
    font-size: large;
    font-weight: bold; 
    padding: 4px 8px;
    }
    .login-image-side{
      display: flex!important;
      flex-direction: column;
      align-items: center;
      align-content: space-between;
    }
    .login-form-style-roxo{
      display: flex;
      flex-direction: row;
    }
    
    .input-email-login{
      margin-top: 8%;
      padding: 6px 18px;
    
      color: #1c1e21;
      background-color: #e4e6eb;
      border: none;
      border-radius: 12px;
      width: 100%;
    
    }
    .input-password-login{
      margin: 18px 0px;
        padding: 6px 18px;
     
        color: #1c1e21;
        background-color: #e4e6eb;
        border: none;
        border-radius: 12px;
        width: 100%;
    
    }
    .login-form-display{
      display: flex!important;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
    }
    .register-button-loginForm{
      /* margin: 2px 2px; */
      padding: 6px 18px;
    
      color: #1c1e21;
      border-radius: 12px;
      width: 100%;
  
      background-color: #e4e6eb;
      border:none;
    }
 
    .login-button-style{
      margin-top: 4%;
      padding: 6px 18px;
    
      width: 100%;
      border-radius: 12px;
  
      color: #1c1e21;
    
      background-color: #e4e6eb;
      border:none;
    
    
    }
  
    .forget-password {
      font-size: 14px;
  
    }
    
    .have-account {
      font-size: 14px;

      margin: 0;
    }
    .register-now{
      padding: 0px 70px;
    
    }
    