
.depositeModal-heading{
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 10px 12px;
    background-color: white;
    border-radius: 12px;
    /* justify-content: center; */

    box-shadow: 0 1px 8px rgb(0 0 0 / 30%);
}
.address-field{
    margin-left: 12px;
    padding: 5px 12px;
    background-color: #e4e6eb ;
    border-radius: 12px;
}
.minimumDeposite-field{
    margin-left: 12px;
    padding: 5px 12px;
    background-color: #e4e6eb ;
    border-radius: 12px;
}
.network-field{
    margin-left: 12px;
    padding: 5px 12px;
    background-color: #e4e6eb ;
    border-radius: 12px;
}


.modal-style{
    padding: 56px;

}

.depositModal-makeSure{
    padding-top: 16px;
}


.deposit-address{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 16px;

}
.deposit-network{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 16px;

}
.deposit-minimum{
    display: flex;
    flex-direction: row;
    align-items: center;
        padding-top: 16px;

}
